= content_for :sidebar do  
  %h3 Venues
  -@venues.each do |v|
    =link_to v.name, venue_path(v)
  =link_to 'Add Venue', new_venue_path


%h1 Control Panel


-@feedback.each do |f|
  %div.row
    %div.bubble.span10.columns
      %div.comment
        %div.chead
          =f.venue.name
          %div.timestamp
            %span.source=f.source
            %br/
            %span.created-at=f.created_at          
        %div.body= f.text
        %div.f
          %button.btn.small Reply
          %button.btn.small Delete
              
        



    
   